#breadcrumb {
    color: rgb(255, 255, 255);
}

#albumview {
    cursor: pointer;
}

#info {
    position: absolute;
    width: 28%;
    right: 0px;
    /* color: white; */
    border: 1px solid rgb(102, 102, 102);
    padding: 10px;
    margin: 9.4px;
}

#progress {
    position: absolute;
    width: 100px;
    height: 100px;
    display: none;
}

div.panel {
    width: 70%;
    display: inline-block;
}

#toolbar {
    width: 30%;
    margin: 9px;
}

#newalbum {
    display: none;
}

#upload {
    display: none;
}

.dashed-box {
    border: 5px dashed rgb(102, 102, 102);
    width: 96%;
    /* height: 90%; */
    margin: 5px;
    text-align: center;
    padding-top: 33%;
    padding-bottom: 33%;
}
