#thumbs {
    width: 30%;
    height: 95%;
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 0px;
    display: none;
    z-index: 101;
}

#browse {
    z-index: 100;
}

#controltoolbar {
    padding: 10px 4px;
}

#tb-container {
    position: absolute;
    z-index: 2000;
    width: 150px;
    height: 30px;
}

